body {
  font-family: sans-serif;
  font-size: 25px;
  color: #0f0f0a;
  text-indent: 210px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../assets/borderMenu.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.spicy:before {
  width: 30px;
  height: 30px;
  content: "";
  background-image: url("../assets/spicy.svg");
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 3px;
  position: relative;
  top: 2px;
}
#spicyOption {
  text-align: center;
  font-size: 30px;
}

.menuItemName {
  text-align: justify;
  text-justify: inter-word;
}

li {
  list-style-type: none;
  font-style: italic;
  list-style-position: inside;
  text-indent: 80px;
  padding-left: 130px;
}
input[type="checkbox"] {
  /* Increase Checkbox size */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext {
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}
